--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu

flask
gdown
torch==2.6.0+cpu
numpy==1.26.4
tb-nightly==2.19.0a20241221
tqdm==4.67.1
flask_socketio
gunicorn

